body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Inside styles.css */
#shop {
    margin-top: 30px;
}

#shop h2 {
    margin-bottom: 10px;
}

#shop ul {
    list-style-type: none;
    padding: 0;
}

#shop li {
    margin-bottom: 10px;
}

#shop button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#shop button:hover {
    background-color: #218838;
}
