body {
    font-family: Arial, sans-serif;
    background-color: #0b3d91;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
}

.glow {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
    to {
        text-shadow: 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
}

p {
    font-size: 18px;
}

.shake {
    animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(5px);
    }
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3e8ef7;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.pulse {
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#shop {
    margin-top: 30px;
}

.fade-in {
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#shop ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center the buttons horizontally */
}

.shop-button {
    display: inline-block; /* Align buttons horizontally */
    padding: 15px 20px;
    margin: 0 5px; /* Add some margin between buttons */
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.shop-button:hover {
    background-color: #0056b3;
}

.slide-in-left {
    animation: slide-in-left 1s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}
